WpfClient/Connected Services/ServiceAlias/item51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.101:8000/WcfService/ServiceAlias/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.0.101:8000/WcfService/ServiceAlias/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:import schemaLocation="http://192.168.0.101:8000/WcfService/ServiceAlias/?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetDataAlias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataAliasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDataAliasResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aliasNode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aliasName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetNodeResult" nillable="true" type="q2:CompositeTypeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aliasName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="GetFileResult" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LenghtFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aliasName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LenghtFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LenghtFileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MD5HashFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aliasName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MD5HashFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MD5HashFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>